<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="fade-in.css">
  <style>
    /* For show only */
    .box {
      border-radius: 15px;
      border: 3px solid #131313;
      height: 500px;
      width: 100%;
      max-width: 800px;
      margin: 2rem auto;
    }

    .blue {
      background-color: #0f0f99;
    }

    .red {
      background-color: #b91717;
    }

    .yellow {
      background-color: #ffe600;
    }

    .green {
      background-color: #17b95a;
    }
  </style>
</head>
<body>
  <div class="animate-fade-in box blue"></div>
  <div class="animate-fade-in box red"></div>
  <div class="animate-fade-in box yellow"></div>
  <div class="animate-fade-in box green"></div>
  <div class="animate-fade-in box blue"></div>
  <div class="animate-fade-in box red"></div>
  <div class="animate-fade-in box yellow"></div>
  <div class="animate-fade-in box green"></div>
  <div class="animate-fade-in box blue"></div>
  <div class="animate-fade-in box red"></div>
  <div class="animate-fade-in box yellow"></div>
  <div class="animate-fade-in box green"></div>
  <div class="animate-fade-in box blue"></div>
  <div class="animate-fade-in box red"></div>
  <div class="animate-fade-in box yellow"></div>
  <div class="animate-fade-in box green"></div>
  <script src="fade-in.js"></script>
</body>
</html>
